// $변수 사용
$primary-color: pink;

p {
  background-color: $primary-color;
}

// @import(다른 Sass 파일 불러오기
@import 'reset';
@import 'variables';

span {
  color: $main-color;
}

// @mixin(함수화)
@mixin button-style($bg-color, $font-size) {
  border: none;
  border-radius: 0.5rem;
  background-color: $bg-color;
  color: #fff;
  font-size: $font-size;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

.btn-primary {
  @include button-style(blue, 16px);
}

.btn-danger {
  @include button-style(red, 18px);
}

// nesting(중첩)
.navbar {
  display: flex;
  justify-content: space-between;

  & > .item {
    padding: 5px 10px;
    background-color: pink;

    &:hover {
      background-color: palevioletred;
    }
  }
}

// 중첩을 사용하지 않고 일반 CSS로 작성한 경우
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar > .item {
  padding: 5px 10px;
  background-color: pink;
}

.navbar > .item:hover {
  background-color: palevioletred;
}

// @extend(확장)
.box {
  height: 100px;
  width: 100px;
  border: 5px solid yellow;
}

.box-extend {
  @extend .box;
  background-color: skyblue;
}
