@mixin color-box($color) {
  background-color: $color;
  width: 100px;
  height: 100px;
}

.sass-container {
  display: flex;

  & .red {
    @include color-box(red);
  }
  & .orange {
    @include color-box(orange);
  }
  & .yellow {
    @include color-box(yellow);
  }
  & .green {
    @include color-box(green);
  }
  & .blue {
    @include color-box(blue);
  }
  & .navy {
    @include color-box(navy);
  }
  & .purple {
    @include color-box(purple);
  }
}
